<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clientes | READ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cli in clientes %}
                <tr>
                  <th scope="row">{{ cli.id }}</th>
                  <td>{{ cli.pri_nome }}</td>
                  <td>{{ cli.seg_nome }}</td>
                  <td>
                      <a href="{% url 'update.cliente' cli.id %}"><i class="fas fa-highlighter"></i></a>
                      <form action="{% url 'delete.cliente' cli.id  %}">
                          {% csrf_token %}
                        <a href="{% url 'delete.cliente' cli.id %}"><i class="fas fa-user-minus"></i></a>
                      </form>
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'novo.cliente' %}"><button class="btn btn-primary">Adicionar</button></a>

</div>

</body>
</html>