{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Cliente</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'icons/css/all.css' %}">
</head>
<body>

<div class="container mt-5">


    <form action="{% url 'update.cliente' cliente.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="pri_nome">Primeiro Nome</label>
            <input type="text" class="form-control" id="pri_nome" name="pri_nome" value="{{ form.pri_nome.value }}">
            {% if form.errors %} {{ form.pri_nome.errors}} {% endif %}
        </div>
        <div class="form-group">
            <label for="seg_nome">Segundo Nome</label>
            <input type="text" class="form-control" id="seg_nome" name="seg_nome" value="{{ form.seg_nome.value }}">
            {% if form.errors %} {{ form.seg_nome.errors}} {% endif %}
        </div>
        <div class="form-group">
            <label for="idade">Idade</label>
            <input type="text" class="form-control" id="idade" name="idade" value="{{ form.idade.value }}">
            {% if form.errors %} {{ form.idade.errors}} {% endif %}
        </div>
        <div class="form-group">
            <label for="salario">Salario</label>
            <input type="text" class="form-control" id="salario" name="salario" value="{{ form.salario.value }}">
            {% if form.errors %} {{ form.salario.errors}} {% endif %}
        </div>
        <div class="form-group">
            <label for="bio">Bio</label>
            <textarea class="form-control" id="bio" rows="3" name="bio">{{ form.bio.value }}</textarea>
            {% if form.errors %} {{ form.bio.errors}} {% endif %}
        </div>

{#        {{ form }}#}

        <button type="submit" class="btn btn-success">Atualizar</button>
        <a href="{% url 'listar.cliente' %}">
            <button type="button" class="btn btn-primary">Voltar</button>
        </a>
    </form>


</div>


</body>
</html>